<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.zhaomengyu.cms.dao.ArticleMapper">
  
  <resultMap type="article" id="articleMapper">
  <id column="id" property="id"/>
  <result column="channel_id" property="channelId"/>
  <result column="category_id" property="categoryId"/>
  <result column="articleType" property="articleType"
  typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
  jdbcType="INTEGER" javaType="com.zhaomengyu.cms.comon.ArticleType"
  />
  
  <result column="user_id" property="userId"/>
  <association property="user" column="user_id"
   select="com.zhaomengyu.cms.dao.UserMapper.findUserById"/>
   
  <association property="channel" column="channel_id" 
	select="com.zhaomengyu.cms.dao.ChannelMapper.findById" />
	
<association property="cat" column="category_id" 
	select="com.zhaomengyu.cms.dao.CatMapper.findById" />
	
	<association property="terms" column="id" 
	select="findTermByArticleId" />
	
  
  </resultMap>
  
  
  <select id="findTermByArticleId" resultType="java.lang.String">
  select group_concat(unique_name) tags
  from cms_article_term m join cms_term t on m.tid=t.id
  where m.aid=#{value}
  group by m.aid
  </select>
  
  <!-- 根据文章的分类和频道获取文章 -->
  <select id="list" resultMap="articleMapper">
  select id,title,picture,channel_id,category_id,user_id,
  hits,hot,status,created,updated,commentCnt,articleType
  from cms_article  where channel_id=#{chnId}
  <if test="catId!=0">
  and category_id=#{catId}
  </if>
  and status=1 and deleted=0
  </select>
  	
  	<select id="listHot" resultMap="articleMapper">
  	select id,title,picture,channel_id,category_id,user_id,
  hits,hot,status,created,updated,commentCnt,articleType
  from cms_article  where hot>0 and deleted=0 and status=1
  order by hot desc,created desc
  	</select>
  	
  	<!-- 获取最新文章 -->
  	<select id="listLast" resultMap="articleMapper">
  	select id,title,picture,channel_id,category_id,user_id,
  hits,hot,status,created,updated,commentCnt,articleType
  from cms_article 
  where deleted=0 and status=1
  order by created desc limit #{value}
  	</select>
  	
  	
  	<!-- 获取需要管理的文章 -->
  	<select id="listAdmin" resultMap="articleMapper">
  	select id,title,picture,channel_id,category_id,user_id,
  	hits,hot,status,created,updated
  	from cms_article
  	where deleted=0
  	<if test="status != -1 ">
  	and status =#{status}
  	</if>
  	order by created desc
  	</select>
  	
  	<select id="findById" resultMap="articleMapper">
  	select id,title,content,picture,channel_id,category_id,user_id,
	  hits,hot,status,created,updated,commentCnt,articleType
	  from cms_article 
	  where id=#{value} and deleted=0
  	</select>
  	
  	<!-- 根据用户id查找文章 -->
  	<select id="listByUserId" resultMap="articleMapper">
  	select id,title,picture,user_id,channel_id,category_id,hits,hot,status,created,updated,commentCnt
  	from cms_article 
  	where user_id=#{value}
  	 and deleted=0 
  	 order by created desc
  	</select>
  	
  	<insert id="add" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
  	insert into cms_article(title,content,picture,channel_id,category_id,user_id,hits,hot,status,deleted,created,updated,commentCnt,articleType)
  	values(#{title},#{content},#{picture},#{channelId},#{categoryId},#{userId},0,0,0,0,now(),now(),0,
  	#{articleType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler,
  jdbcType=INTEGER, javaType=com.zhaomengyu.cms.comon.ArticleType})
  	</insert>
  	
  	<insert id="addTerm" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
  	insert into cms_term(display_name,unique_name) values(#{display_name},#{unique_name})
  	</insert>
  	
  	
  	
  </mapper>